name: ConfigLock Release

on:
  release:
    types: [created]

jobs:
  build:
    name: Build and Publish
    strategy:
      fail-fast: false
      matrix:
        os: [linux, darwin]
        arch: [amd64, arm64]
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache-dependency-path: go.sum

      - name: Get version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Build binary
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
          VERSION: ${{ steps.version.outputs.VERSION }}
        run: |
          OUTPUT="configlock-${{ matrix.os }}-${{ matrix.arch }}"
          go build \
            -ldflags "-s -w -X github.com/baggiiiie/configlock/cmd.version=$VERSION" \
            -trimpath \
            -o "$OUTPUT"

      - name: Upload release binary
        uses: softprops/action-gh-release@v2
        with:
          files: configlock-${{ matrix.os }}-${{ matrix.arch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
